.contact {
    padding: 6.25rem 1.25rem;
}

textarea, input {
    width: 100%;
    padding: 0.87rem;
    margin: 0.625rem 0;
    color: blue;
    padding-left: 1.12rem;
    border: solid #b0b0b0 1px;
    border-radius: 5px;
    font-size: 0.81rem;
    background: transparent;
    box-sizing: border-box;
}

textarea:focus, input:focus {
    outline: auto;
}

.half_row {
    width: 50%;
    float: left;
    box-sizing: border-box;
}

.contact_name {
    padding-right: 0.94rem;
}

.contact_email {
    padding-left: 0.94rem;
}

.contact_send {
    margin-top: 1.87rem;
}