@import url(https://fonts.googleapis.com/css2?family=Lobster&display=swap);


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', display;
    background: linear-gradient(120deg, blue, red, blue, red, blue, red);
    height: 100vh;
}

#suggestion {
    list-style: none;
    visibility: hidden;
    position: relative;
    height: 0;
    margin: 0;
    padding: 0;
}

#suggestion > li {
    background: white;
    padding: 0 10px 0;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.navbar-brand {
    display: flex;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    padding: 0 10px;
    justify-content: center;
    align-items: center;
}

.navbar-brand img {
    width: 2.7rem;
    border: none;
}

.nav-item a {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    margin: 0 0.5rem;
}

.dropdown-menu li a {
    color: black;
    font-family: arial;
    font-size: 1rem;
    font-weight: 600;
}

.progress {
    position: absolute;
    z-index: -5;
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin: 0 0 0 -12px;
    filter: blur(2px);
}

.dropdown-item:hover {
    background-color: grey;
}

@media screen and (min-width: 1200px) {
    .nav-item a {
        font-size: 1.2rem;
    }

    .navbar-brand {
        margin-right: 10vw;
    }
}

@media screen and (min-width: 1400px) {
    .nav-item a {
        font-size: 1.4rem;
    }

    .navbar-brand {
        margin-right: 15vw;
    }
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .navbar-brand img {
        width: 2.5rem;
    }

    .nav-item a {
        font-weight: 400;
        font-size: 0.8rem;
    }
}

/* ======= MASONRY CSS ======= */
img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    display: inline-block;
    border: solid 1px black;
}
    
/* == Main Masonry CSS == */
.grid-wrapper > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-wrapper > div > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.grid-wrapper > div > a {
    width: 100%;
    height: 100%;
    position: relative;
}

.grid-wrapper > div > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.selection {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: solid white 1px;
    border-radius: 5px;
    background-color: rgb(50, 50, 255);
    opacity: 0;
    transition: all 0.4s linear;
}

.grid-wrapper > div > a:hover .selection {
    opacity: 0.5;
    top: 0.5rem;
    left: 0.5rem;
}

.logo {
    position: absolute;
    opacity: 0;
    font-size: 3rem;
    color: white;
    top: 30%;
    left: 45%;
    transform-origin: center;
    transform: translate(-50%, -50%);
    transform: rotate(45deg);
    transform-origin: center;
    animation: logorotation 4s infinite 1s;
    animation-play-state: paused;
    transition: all 0.5s linear;
}

.grid-wrapper > div > a:hover .logo {
    opacity: 1;
    animation-play-state: running;
}

@keyframes logorotation {
    40% {
        transform: rotate(765deg);
    }
    100% {
        transform: rotate(765deg);
    }
}

.name-game {
    position: absolute;
    color: white;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    bottom: -0.7rem;
    left: 55%;
    transform: translateX(-50%);
    text-align: center;
    opacity: 0;
    transition: all 0.5s linear;
}

.grid-wrapper > div > a:hover .name-game {
    opacity: 1;
}
    
.grid-wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.4fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    padding: 4rem 1.5rem;
}

.grid-wrapper .wide {
    grid-column: span 2;
}

.grid-wrapper .tall {
    grid-row: span 2;
}

.grid-wrapper .big {
    grid-column: span 2;
    grid-row: span 2;
}