body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    box-shadow: black 20px 10px 50px;
}

p {
    font-size: 30px;
    font-weight: 700;
}