/* Main section styles */
.main_section {
    padding: 8rem 0rem 2rem;
    display: flex;
    position: relative;
}

.main_section__info {
    margin-top: -20px;
}

.main_section > div {
    flex: 1;
}

.main_section__image img {
    width: 100%;
    border-radius: 50%;
}

.main_section__welcome {
    font-size: 1rem;
    font-weight: 400px;
    margin-bottom: 1.25rem;
    letter-spacing: 2px;
    color: #797979;
}

.main_section__introduction {
    margin-top: 1.25rem;
    font-size: 3.75rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    color: #00712b;
}

.main_section__position {
    color: #00712b;
    font-size: 1.5rem;
    font-weight: 300px;
    margin-bottom: 1.25rem;
}

.main_section__social_networks a {
    color: #8fa1aa;
    font-size: 1.25rem;
    display: inline-block;
    margin-right: 1rem;
    cursor: pointer;
}

.main_section__social_networks a:hover {
    color: #1c44e4;
}

.main_section__action {
    margin-top: 1.87rem;
}

/* Statistics section */
.statistics {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 45%;
    bottom: 0;
    left: 0;
}

.statistics_item {
    background-color: lightgrey;
    flex-basis: 30%;
    text-align: center;
    padding: 7px 0;
}

.statistics_s {
    display: none;
}

.statistics_number {
    font-size: 1.5rem;
    font-weight: 600;
    color: transparent;
    background-image: linear-gradient(45deg, magenta, blue);
    background-clip: text;
    -webkit-background-clip: text;
}

.statistics_title {
    font-size: 1rem;
    color: #797979;
    font-weight: 300;
    margin: 0;
}

/* About me */
.about_me {
    padding-top: 6.25rem;
    display: flex;
}

.about_me div {
    flex: 1;
}

.about_me__image img {
    width: 90%;
}

.about_me__description {
    font-size: 0.87rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.69rem;
    text-align: justify;
    letter-spacing: 0.7px;
}

.about_me__action {
    margin-top: 2.5rem;
}

/* Service */
.services {
    padding-top: 6.25rem;
}

.section_cards {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section_card {
    flex-basis: 32%;
    padding: 3rem 1.87rem 0.5rem;
    background-color: antiquewhite;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
}

.section_card img {
    width: 100%;
    height: 12rem;
    margin-bottom: 1rem;
}

.section_card__title {
    color: #053640;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}

.section_card__info {
    font-size: 0.87rem;
    line-height: 1.69rem;
    font-weight: 300;
    color: #797979;
    text-align: justify;
    letter-spacing: 0.7px;
}

.section_card__link a {
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05500d;
    text-decoration: none;
}

.section_card:hover {
    background-color: #5f30ff;
}

.section_card:hover .section_card__title, .section_card:hover .section_card__info, .section_card:hover .section_card__link a {
    color: white;
}

/* Clients */
.clients {
    padding-top: 6.25rem;
}

.clients_item {
    margin-top: 1.5rem;
    display: flex;
}

.clients_item div {
    flex-basis: 50%;
    box-sizing: border-box;
}

.clients_image img {
    width: 100%;
}

.clients_info {
    padding-left: 3.12rem;
}

.clients_name {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
}

.clients_position {
    font-size: 0.87rem;
    font-weight: 300;
    color: #5b6d75;
}

.clients_review {
    font-size: 0.87rem;
    line-height: 1.69rem;
    font-weight: 300;
    color: #5b6d75;
    text-align: justify;
    letter-spacing: 0.7px;
}

.clients_rate {
    color: gold;
}

.clients_rate .disabled {
    color: silver;
}

/* Portfolio */
.portfolio {
    padding-top: 6.25rem;
}

.portfolio_filters {
    list-style: none;
    padding-left: 0;
    margin-top: 2rem;
}

.portfolio_filters li {
    display: inline-block;
    margin-right: 2.5rem;
    font-size: 0.81rem;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.portfolio_filters li:hover, .portfolio_filters li.active {
    color: blue;
}

.portfolio_title {
    font-size: 1rem;
    color: #797979;
    font-weight: 300;
}

.portfolio_items {
    position: relative;
    margin-top: 2rem;
}

.portfolio_item {
    position: relative;
    display: inline-block;
    width: 50%;
    padding: 0.625rem;
    box-sizing: border-box;
    cursor: pointer;
}

.portfolio_item__2 {
    position: absolute;
    right: 0;
    top: 0;
}

.portfolio_item__image {
    width: 100%;
}

.portfolio_item__overlay {
    background-color: #00aaff;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: all 0.7s ease-in-out;
}

.portfolio_item:hover .portfolio_item__overlay {
    background-color: #00aaff;
    position: absolute;
    width: 97%;
    height: 96%;
    top: 20px;
    left: 20px;
    opacity: 0.7;
}

.portfolio_item__info {
    position: absolute;
    bottom: 44px;
    left: 80px;
    color: white;
    opacity: 0;
    z-index: 1;
    transition: 0.7s;
}

.portfolio_item__info a {
    text-decoration: none;
    color: white;
}

.portfolio_item:hover .portfolio_item__info {
    opacity: 1;
}

/* Blog Section */
.blog {
    padding-top: 6.25rem;
}

.blog_items {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.blog_item {
    flex: 0 0 32%;
    box-sizing: border-box;
    background-color: rgb(230, 229, 229);
    padding-bottom: 10px;
}

.blog_item:hover {
    box-shadow: 0px 10px 20px rgb(5, 54, 77,  20%);
}

.blog_item:hover .blog_item__info {
    background-color: white;
}

.blog_item:hover .blog_item__image img {
    transform: scale(1.1);
}

.blog_item__image {
    overflow: hidden;
}

.blog_item__image img {
    width: 100%;
    height: 15rem;
    vertical-align: middle;
    transition: all 0.4s ease;
}

.blog_item__main__info {
    display: flex;
    justify-content: space-around;
    background-color: #f8faff;
    padding: 10px 5px;
    color: #797979;
}

.blog_item__main__info span {
    text-align: center;
    font-size: 0.87rem;
    font-weight: lighter;
}

.blog_item__title {
    padding: 0 10px;
    font-size: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 0.94rem;
    color: #05364d;
    font-weight: 700;
}

.blog_item__description {
    padding: 0 10px;
    text-align: justify;
    line-height: 1.68rem;
    font-weight: lighter;
    font-size: 0.94rem;
}

.blog_item__learn__more {
    padding: 0 10px;
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    cursor: pointer;
}

.blog_item__learn__more:hover {
    color: red;
}

/* Partners */

#partners {
    padding-top: 6.25rem;
}

.carousel_title {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: #111;
  margin-bottom: 2rem;
}

/* Slider */
  
  .slick-slide {
      margin: 0px 20px;
  }
  
  .slick-slide img {
      width: 100%;
  }
  
  .slick-slider {
      position: relative;
      display: block;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
              user-select: none;
      -webkit-touch-callout: none;
      -khtml-user-select: none;
      -ms-touch-action: pan-y;
          touch-action: pan-y;
      -webkit-tap-highlight-color: transparent;
  }
  
  .slick-list {
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 0;
  }

  .slick-list:focus {
      outline: none;
  }

  .slick-list.dragging {
      cursor: pointer;
      cursor: hand;
  }
  
  .slick-slider .slick-track, .slick-slider .slick-list {
      -webkit-transform: translate3d(0, 0, 0);
         -moz-transform: translate3d(0, 0, 0);
          -ms-transform: translate3d(0, 0, 0);
           -o-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
  }
  
  .slick-track {
      position: relative;
      top: 0;
      left: 0;
      display: block;
  }

  .slick-track:before, .slick-track:after {
      display: table;
      content: '';
  }

  .slick-track:after {
      clear: both;
  }

  .slick-loading .slick-track {
      visibility: hidden;
  }
  
  .slick-slide {
      display: none;
      float: left;
      height: 100%;
      min-height: 1px;
  }

  [dir='rtl'] .slick-slide {
      float: right;
  }

  .slick-slide img {
      display: block;
  }

  .slick-slide.slick-loading img {
      display: none;
  }

  .slick-slide.dragging img {
      pointer-events: none;
  }

  .slick-initialized .slick-slide {
      display: block;
  }

  .slick-loading .slick-slide {
      visibility: hidden;
  }

  .slick-vertical .slick-slide {
      display: block;
      height: auto;
      border: 1px solid transparent;
  }

  .slick-arrow.slick-hidden {
      display: none;
  }

@media only screen and (max-width: 991px) {
    .main_section__image {
        display: none;
    }

    .main_section__info {
        margin-top: -3rem;
    }

    .main_section__introduction {
        font-size: 3rem;
        width: 70%;
    }

    .main_section__social_networks a {
        font-size: 1.5rem;
        margin-right: 0.8rem;
    }

    .statistics {
        display: none;
    }

    .statistics_s {
        display: flex;
        flex-wrap: wrap;
        margin-top: 2rem;
    }

    .statistics_item_s {
        background-color: lightgrey;
        flex-basis: 100%;
        text-align: center;
        padding: 0px auto;
        margin: 5px 0;
        padding: 10px 0;
    }

    .about_me {
        padding-top: 2rem;
    }
    
    .about_me div {
        width: 100%;
    }

    .about_me__image {
        display: none;
    }

    .services {
        padding-top: 2rem;
    }
    
    .section_card {
        flex-basis: 49%;
        padding: 2rem 1.5rem;
        margin-bottom: 10px;
        margin-right: 0;
        box-sizing: border-box;
    }

    .section_card img {
        height: 25vw;
    }

    .clients {
        padding-top: 2rem;
    }
    
    .clients_item div {
        width: 100%;
        box-sizing: border-box;
    }

    .clients_image img {
        width: 90%;
    }

    .clients_image {
        text-align: center;
    }
    
    .clients_info {
        padding-left: 0;
    }

    .portfolio {
        padding-top: 2rem;
    }
    
    .portfolio_filters {
        margin-top: 1rem;
    }

    .portfolio_items {
        margin-top: 1rem;
    }

    .portfolio_item__2 {
        position: absolute;
        right: 0;
        top: 0;
    }

    .portfolio_item__image {
        width: 100%;
    }

    .portfolio_item:hover .portfolio_item__overlay {
        top: 20px;
        left: 20px;
        width: 95%;
        height: 93%;
        opacity: 0.7;
    }

    .portfolio_item__info {
        bottom: 20px;
        left: 40px;
    }

    .portfolio_item:hover .portfolio_item__info {
        bottom: 20px;
        left: 40px;
    }

    .blog {
        padding-top: 2rem;
    }
    
    .blog_items {
        margin-top: 1rem;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .blog_item {
        flex-basis: 49%;
        margin-bottom: 25px;
        box-sizing: border-box;
    }

    .blog_item__image img {
        height: 30vw;
    }

    #partners {
        padding-top: 2rem;
    }

    .carousel_title {
        margin-bottom: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    .main_section__social_networks a {
        font-size: 1rem;
        margin-right: 0.5rem;
    }

    .main_section__introduction {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .main_section__position {
        font-size: 1rem;
    }

    .section_card {
        flex-basis: 100%;
    }

    .section_card img {
        height: 50vw;
    }

    .clients_item {
        flex-wrap: wrap;
    }

    .clients_item div {
        flex-basis: 100%;
    }

    .portfolio_item:hover .portfolio_item__overlay {
        top: 20px;
        left: 20px;
        width: 93%;
        height: 90%;
        opacity: 0.7;
    }

    .portfolio_item:hover .portfolio_item__info {
        bottom: 20px;
        left: 40px;
    }

    .blog_item {
        flex-basis: 100%;
    }

    .blog_item__image img {
        height: 50vw;
    }
}