* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: url(tennis-background.jpg);
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

.red {
    color: red;
}

.green {
    color: green;
}

.container {
    position: relative;
    display: inline-block;
    background: white;
    width: 300px;
    height: 500px;
    left: 50%;
    transform: translate(-50%, 100px);
    border: solid 1px black;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: black -5px 10px 70px, black 5px 10px 70px;
    text-align: center;
}

.container > img {
    width: 100%;
}

.container > h3 {
    display: inline-block;
}

p {
    font-size: 25px;
    font-weight: 600;
    margin: 0 auto 10px;
    padding: 0;
}

.btn-con {
    margin-top: 40px;
}

.btn-con > button {
    margin: 0 20px;
    border-radius: 4px;
    border: grey 1px solid;
    cursor: pointer;
    font-size: 16px;
}

#play1 {
    background-color: greenyellow;
}

#play2 {
    background-color: aqua;
}

#reset {
    width: 80px;
    margin: 55px 0;
    border-radius: 4px;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
}

.footer > a {
    display: inline-block;
    margin: 10px 10px;
}